<div class="element-container" [formGroup]="formGroup" [style.font-size.pt]="fontSize">
    <div class="element-header">
        <span>{{element.questionId}}.</span>
        <editable-text [(value)]="element.questionText" [placeholderText]="element.placeholderText" (onSave)="update($event)"></editable-text>
    </div>
    <div class="element-body">
        <editable-multiline-text [(value)]="element.additionalText" [placeholderText]="'Enter text with _ spaces'" (onSave)="update($event)"></editable-multiline-text>
    </div>
    <button type="button" class="element-delete-button" md-icon-button (click)="delete($event)"><md-icon>delete</md-icon></button>    
</div>