#designer-grid-container{
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content:center;
}
#designer-form-container {
    flex:1 100%;
    border: 1pt dashed black;
    margin: 25px
}
.designer-card-container {
    flex: 1 50%;
}

/* Editable text component */
.editable-text{
    border-bottom: 1pt dashed cornflowerblue;
}
.editable-text:hover{
    color: cornflowerblue;
}
.editable-text-input {
    display: inline-block;
}
.editable-multiline-text {
    border-bottom: 1pt dashed cornflowerblue;
    word-wrap: break-word;    
}
.editable-multiline-text-input {
    width: 100%;
}
textarea {
    overflow: visible;
    border: 1pt solid plum;
    resize: both;
    width: 100%;
}
/* Grid elements */
.element-container {
    display: flex; 
    flex-direction: column;
    margin: 5pt;
    padding: 2.5pt;
    border: 0.5pt dashed black;
}
.element-header {
    flex: 1 100%;
}
.element-body {
    flex: 1 auto;
}
.element-body ol {
    margin: 0;
}
