#designer-grid-container{
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    margin-top: -30px;
    z-index: 2;     
}
#designer-form-container {
    flex:1 100%;
    border: 1pt dashed black;
    margin: 5pt;
    min-height: 24cm;
    /* Default fonts */
    font-family: Arial, Helvetica, sans-serif;
}
#test-header-title {
    font-size: 22pt;
}
.test-header-subtitle{ 
    font-size: 18pt;
}
.designer-card-container {
    width: 80%;
    margin: auto;
}

/* Editable text component */
.editable-text{
    border-bottom: 1pt dashed cornflowerblue;
}
.editable-text:hover{
    color: cornflowerblue;
}
.editable-text-input {
    display: inline-block;
}
.editable-multiline-text {
    border-bottom: 1pt dashed cornflowerblue;
    word-wrap: break-word;    
}
.editable-multiline-text-input {
    width: 100%;
}
textarea {
    overflow: visible;
    border: 1pt solid plum;
    resize: both;
    width: 100%;
}
/* Grid elements */
.element-container {
    display: flex; 
    flex-direction: column;
    margin: 5pt;
    padding: 2.5pt;
    border: 0.5pt dashed black;
    position: relative;
    font-size: 14pt;
}
.element-header {
    flex: 1 100%;
}
.element-body {
    flex: 1 auto;
}
.element-body ol {
    margin: 0;
}
.element-delete-button {
    position: absolute; 
    top:0; 
    right: 0;
}

@page {
    size: A4;
    margin: 0;
    padding: 10mm;
}

@media print {
    html, body {
        width: 210mm;
        height: 297mm;
    }
    body { margin: 0; padding: 0;}
    md-toolbar { display: none; }
    .element-delete-button {display: none;}
    new-element { display: none; }
    md-card-header { display: none; }
    .designer-card-container {
        width:210mm;
        margin:0;
    }
    #designer-grid-container {
        width: 210mm;         
    }
    #designer-form-container { 
        min-height: 0;
        display: block;
        border: 0;
    }
    .editable-text { border: 0; }
    .editable-multiline-text { border: 0; }
    .element-container{
        page-break-inside: avoid;
        border: 0;
    }
    button { display: none; }
}

