<md-sidenav-container>

    <md-toolbar color="primary">
        <div style="width: 100%; display: flex;">
            <button  type="button" md-button (click)="settings.open()" aria-label="Open menu">
                <md-icon aria-hidden="true">menu</md-icon>
            </button> 
            <div style="flex: auto"></div>
            <button type="button" md-button (click)="save()" aria-label="Save">
                <md-icon aria-hidden="true">save</md-icon>
            </button>
            <button type="button" md-button (click)="print()" aria-label="Print document">
                    <md-icon aria-hidden="true">print</md-icon>
            </button>
            <button type="button" md-button (click)="quit()" aria-label="Quit designer">
                    <md-icon aria-hidden="true">exit_to_app</md-icon>
            </button> 
        </div>
        <md-toolbar-row></md-toolbar-row>
    </md-toolbar>
    <md-sidenav #settings>
        <form-settings></form-settings>
    </md-sidenav>
    <div id="designer-grid-container">
        <div class="designer-card-container" style="margin-top: 15pt; margin-bottom: 15pt;">
            <md-card>
                <md-card-header>
                    <md-card-title>
                        <h1>Interactive Preview</h1>
                    </md-card-title>
                    <md-card-subtitle>
                        <h3>Edit, move or delete test elements here</h3>
                    </md-card-subtitle>
                </md-card-header>
                <md-card-content>
                    <div id="designer-form-container">
                        <form-header></form-header>

                        <dynamic-form></dynamic-form>
                    </div>
                </md-card-content>
            </md-card>
        </div>
        <new-element class="designer-card-container"></new-element>            
        
    </div>
</md-sidenav-container>