<md-sidenav-container>

    <md-toolbar color="primary">
        <div>
            <button type="button" md-button (click)="settings.open()" aria-label="Open menu">
                <md-icon aria-hidden="true">menu</md-icon>
            </button> 
            <span style="vertical-align: middle">Zalko Test Designer</span>
        </div>
        <md-toolbar-row> </md-toolbar-row>
    </md-toolbar>
    <md-sidenav #settings>
        <form-settings></form-settings>
    </md-sidenav>
    <div id="designer-grid-container">

        <new-element class="designer-card-container"></new-element>

        <div class="designer-card-container" style="margin-top: 15pt; margin-bottom: 15pt;">
            <md-card>
                <md-card-header>
                    <md-card-title>
                        <h1>Interactive Preview</h1>
                    </md-card-title>
                    <md-card-subtitle>
                        <h3>Edit, move or delete test elements here</h3>
                    </md-card-subtitle>
                </md-card-header>
                <md-card-content>
                    <div id="designer-form-container">
                        <form-header></form-header>

                        <dynamic-form></dynamic-form>
                    </div>
                </md-card-content>
            </md-card>
        </div>
    </div>
</md-sidenav-container>