<md-list>
    <h3 md-subheader>Settings</h3>        
    <md-list-item>
        <md-slide-toggle>Use two-columns layout</md-slide-toggle>
    </md-list-item>
    <md-divider></md-divider>    
    <h3 md-subheader>Fonts</h3>            
    <md-list-item>
            <md-input-container>
                    <input mdInput type="number" 
                        placeholder="Test header font size" 
                        [(ngModel)]="project.headerFontSize" 
                        (ngModelChange)="update($event)"
                        [ngModelOptions]="{standalone: true}">
                </md-input-container>
    </md-list-item>
    <md-list-item>
        <md-input-container>
                <input mdInput type="number" 
                    placeholder="Test header subtitle font size" 
                    [(ngModel)]="project.subHeaderFontSize" 
                    (ngModelChange)="update($event)"
                    [ngModelOptions]="{standalone: true}">
            </md-input-container>
    </md-list-item>
    <md-list-item>
        <md-input-container>
            <input mdInput type="number" 
                placeholder="Test body font size" 
                [(ngModel)]="project.elementsFontSize" 
                (ngModelChange)="update($event)"
                [ngModelOptions]="{standalone: true}">
        </md-input-container>
    </md-list-item>
</md-list>