<div class="editable-multiline-text-input" *ngIf="isEditing; else readOnly">
        <md-input-container style="width: 95%">
            <textarea 
                [(ngModel)]="value"
                (ngModelChange)="onValueChange($event)"
                mdInput
                placeholder="{{placeholderText}}"
                required
                ></textarea>
        </md-input-container>
        <button md-button (click)="save()">Save</button>
        <button md-button (click)="cancel()">Cancel</button>
    </div>
    
    <ng-template #readOnly>
        <span class="editable-multiline-text" (click)="edit()" [innerHTML]="value"></span>
    </ng-template>