<short-text-question [questionText]="'Answer this'" [questionNumber]=1></short-text-question>
<short-text-question [questionText]="'Answer this'" [questionNumber]=2></short-text-question>
<short-text-question [questionText]="'Answer this'" [questionNumber]=3></short-text-question>
<short-text-question [questionText]="'Answer this'" [questionNumber]=4></short-text-question>
<short-text-question [questionText]="'Answer this'" [questionNumber]=5></short-text-question>
<single-selection-question 
    [questionText]="'Answer this'" 
    [questionNumber]=5
    [options]="['abc','cde','gfr']"></single-selection-question>