<md-card style="margin: 25px;">
    <md-card-header>
        <md-card-title>
            <h2>Settings</h2>
        </md-card-title>
    </md-card-header>
    <md-card-content>
        <form style="display: flex; flex-flow: row wrap; margin-top: 10pt">


            <div style="flex:1 100%">

                <md-slide-toggle>Use two-columns layout</md-slide-toggle>
            </div>


            <div style="flex:1 100%">
                <md-input-container>
                    <input mdInput type="number" placeholder="Test header font size" >
                </md-input-container>
            </div>

            <div style="flex:1 100%">
                <md-input-container>
                    <input mdInput type="number" placeholder="Test body font size" [(ngModel)]="gridElementsSize" (ngModelChange)="onGridFontSize($event)"
                    [ngModelOptions]="{standalone: true}">
                </md-input-container>
            </div>
        </form>
    </md-card-content>
    <md-card-actions>
        <button md-button>Save</button>
    </md-card-actions>
</md-card>