#designer_grid_container{
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content:center;
}
#designer_form_container {
    flex:1 100%;
    border: 1pt dashed black;
    margin: 25px
}
.designer_card_container {
    flex: 1 50%;
}

/* Editable text component */
.editable-text{
    border-bottom: 1pt dashed cornflowerblue;
}
.editable-text:hover{
    color: cornflowerblue;
}
.editable-text-input {
    display: inline-block;
}

/* Grid elements */
.element_container {
    display: flex; 
    flex-direction: column;
    margin: 5pt;
}
.element_header {
    flex: 1 100%;
    margin-bottom: 15pt;
}
.element_body {
    flex: 1 100%;
}